<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">

	<form th:action="@{~/user/save}" th:object="${userform}" method="POST">
		<input type="hidden" th:field="*{Id}" th:value="${Id}">
		<!-- th field untuk mengambil kolom id model -->
		<!-- th value untuk menampilkan isi data -->
		<h1> Masukkan Data </h1>
		<table>
			<tr>
				<td>Biodata ID</td>
				<td>
					<select th:field="*{Biodata_Id}">
						<option th:each="item:${combobiodata}" th:value="${item.Id}" th:text="${item.Fullname}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Role ID</td>
				<td>
					<select th:field="*{Role_Id}">
						<option th:each="item:${comborole}" th:value="${item.Id}" th:text="${item.Name}"></option>
						<!-- th:each="item:${comborole}" adalah ngambil object, dengan nama object comborole -->
						<!-- th:text="${item.Name}" adalah menampilkan kolom Name di table role id, dengan nama object comborole -->
					</select>
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" th:field="*{Email}" th:value="${Email}" class="form-control"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" minlength="6" maxlength="10" th:field="*{Password}" th:value="${Password}" class="form-control" required></td>
			</tr>
			<tr>
				<td>Login Attempt</td>
				<td><input type="number" th:field="*{Login_Attempt}" th:value="${Login_Attempt}" class="form-control"></td>
			</tr>
			<tr>
				<td>Is Locked</td>
				<td><input type="text" th:field="*{Is_Locked}" th:value="${Is_Locked}" class="form-control"></td>
			</tr>
			<tr>
				<td>Last Login</td>
				<td><input type="date" th:field="*{Last_Login}" th:value="${Last_Login}" class="form-control"></td>
			</tr>
			<tr>
				<td><button type="submit" class="btn btn-primary">Simpan</button></td>
			</tr>
		</table>
	</form>
</div>

</html>