<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
	<h1> User Page </h1>

	<p style="float:right;">
		<button class="btn btn-success" onclick="openform()">+ Tambah Data</button>
	</p>
	
	<!-- Start Tabel -->
	<table class="table">
		<thread>
			<tr>
				<th>ID</th>
				<th>Biodata ID</th>
				<th>Role ID</th>
				<th>Email</th>
				<th>Password</th>
				<th>Login Attempt</th>
				<th>Is Locked</th>
				<th>Last Login</th>
			</tr>
		</thread>
		<tbody>
			<tr th:each="item:${udata}">
				<td th:text="${item.Id}"></td>
				<td th:text="${item.Biodata_Id}"></td>
				<!-- <td th:text="${item.joinBiodata.Fullname}"></td> -->
				<td th:text="${item.Role_Id}"></td>
				<!-- <td th:text="${item.joinRole.Name}"></td> -->
				<td th:text="${item.Email}"></td>
				<td th:text="${item.Password}"></td>
				<td th:text="${item.Login_Attempt}"></td>
				<td th:text="${item.Is_Locked}"></td>
				<td th:text="${item.Last_Login}"></td>
				<td>
					<button class="btn btn-warning" th:value="${item.Id}" onclick="openedit(this.value)">Edit</button>
					<button class="btn btn-danger" th:value="${item.Id}" onclick="delete_(this.value)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- End Tabel -->
	
	<!-- Java Script -->
	<script>
		function openform() {
			//window.open('/m_biodata/form','_self')
			$.ajax({
				url: '/user/form',
				type: 'get',
				contentType: 'html',
				success: function (result) {
					console.log(result)
					$('#mymodal').modal('show')
					$('.modal-title').html('Tambah data user')
					$('.modal-body').html(result)
				}
			})
		}
		function openedit(id) {
			window.open('/user/edit/' + id, '_self')
		}
		function delete_(id) {
			var conf = window.confirm("Yakin Mau Menghapus Data Ini?");
			if (conf) {
				window.open('/user/delete/' + id, '_self')
			}
		}
	</script>
	<!-- End Java Script -->

</div>

</html>