<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">

	<form th:action="@{~/m_biodata_address/save}" th:object="${addressform}" method="POST">
		<input type="hidden" th:field="*{Id}" th:value="${Id}">
		<!-- th field untuk mengambil kolom id model -->
		<!-- th value untuk menampilkan isi data -->
		<h1> Masukkan Data </h1>
		<table>
			<tr>
				<td>Biodata ID</td>
				<td>
					<select th:field="*{Biodata_Id}">
						<option th:each="item:${combobiodata}" th:value="${item.Id}" th:text="${item.Fullname}">
						</option>
					</select>
					<!-- <input type="number" th:field="*{Biodata_Id}" th:value="${Biodata_Id}"> -->
				</td>
			</tr>
			<tr>
				<td>Label</td>
				<td><input type="text" th:field="*{Label}" th:value="${Label}"></td>
			</tr>
			<tr>
				<td>Recipient</td>
				<td><input type="text" th:field="*{Recipient}" th:value="${Recipient}"></td>
			</tr>
			<tr>
				<td>Recipient Phone Number</td>
				<td><input type="number" th:field="*{Recipient_Phone_Number}" th:value="${Recipient_Phone_Number}"></td>
			</tr>
			<tr>
				<td>Location ID</td>
				<td><input type="number" th:field="*{Location_Id}" th:value="${Location_Id}"></td>
			</tr>
			<tr>
				<td>Postal Code</td>
				<td><input type="text" th:field="*{Postal_Code}" th:value="${Postal_Code}"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><textarea rows="5" th:field="*{Address}" th:value="${Address}"></textarea></td>
			</tr>
			<tr>
				<td><button type="submit" class="btn btn-primary">Simpan</button></td>
			</tr>
		</table>
	</form>

</div>

</html>