<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
	<h1> Biodata Address Page </h1>

	<p style="float:right;">
		<button class="btn btn-success" onclick="openform()">+ Tambah Data</button>
	</p>
	
	<!-- Start Tabel -->
	<div>
		<table class="table" id="tablebiodata">
			<thead>
				<tr>
					<th>ID</th>
					<th>Biodata ID</th>
					<th>Fullname</th>
					<th>Label</th>
					<th>Recipient</th>
					<th>Recipent Phone Number</th>
					<th>Location ID</th>
					<th>Postal Code</th>
					<th>Address</th>
					<th>Action</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${mbadata}">
					<td th:text="${item.Id}"></td>
					<td th:text="${item.Biodata_Id}"></td>
					<td th:text="${item.joinBiodata.Fullname}"></td>
					<td th:text="${item.Label}"></td>
					<td th:text="${item.Recipient}"></td>
					<td th:text="${item.Recipient_Phone_Number}"></td>
					<td th:text="${item.Location_Id}"></td>
					<td th:text="${item.Postal_Code}"></td>
					<td th:text="${item.Address}"></td>
					<td>
						<button class="btn btn-warning" th:value="${item.Id}"
							onclick="openedit(this.value)">Edit</button>
						<button class="btn btn-danger" th:value="${item.Id}"
							onclick="delete_(this.value)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,160L40,138.7C80,117,160,75,240,85.3C320,96,400,160,480,160C560,160,640,96,720,101.3C800,107,880,181,960,197.3C1040,213,1120,171,1200,144C1280,117,1360,107,1400,101.3L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
        ></path>
      </svg>
	</div>
	<!-- End Tabel -->
	
	<script>
	
	$(document).ready(function() {
		$('#tablebiodata').DataTable();
	} );
		function openform() {
			//window.open('/m_biodata_address/form','_self')
			$.ajax({
				url: '/m_biodata_address/form',
				type: 'get',
				contentType: 'html',
				success: function (result) {
					console.log(result)
					$('#mymodal').modal('show')
					$('.modal-title').html('Tambah data profil')
					$('.modal-body').html(result)
				}
			})
		}
		function openedit(id) {
			window.open('/m_biodata_address/edit/' + id, '_self')
		}
		function delete_(id) {
			var conf = window.confirm("Yakin Mau Menghapus Data Ini?");
			if (conf) {
				window.open('/m_biodata_address/delete/' + id, '_self')
			}
		}
	</script>

</div>

</html>