<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">


<div layout:fragment="content" class="container">
	<h1> Biodata Page </h1>
	
	<p style="float:right;">
		<button class="btn btn-success" onclick="openform()">+ Tambah Data</button>
		<button class="btn btn-warning" onclick="javascript:window.open('/m_biodata/exporttopdf','_self')">Export PDF</button>
	</p>

	<table class="table" id="biodatatable">
		<thead>
			<tr>
				<th>ID</th>
				<th>Fullname</th>
				<th>Mobile Phone</th>
				<th>Image</th>
				<th>Image Path</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="tampildata">
			<tr th:each="item:${mbdata}">
				<td th:text="${item.Id}"></td>
				<td th:text="${item.Fullname}"></td>
				<td th:text="${item.Mobile_Phone}"></td>
				<td th:text="${item.Image}"></td>
				<td><img th:src="@{${'/images/' + item.Image_Path}}" height="50"></td>
				<td>
					<button class="btn btn-warning" th:value="${item.Id}" onclick="openedit(this.value)">Edit</button>
					<button class="btn btn-danger" th:value="${item.Id}" onclick="delete_(this.value)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	
	<script>
	$(document).ready(function() {
		$('#biodatatable').DataTable();
	});
	
		function openform() {
			//window.open('/m_biodata/form','_self')
			$.ajax({
				url: '/m_biodata/form',
				type: 'get',
				contentType: 'application/json',
				success: function (result) {
					console.log(result)
					$('#mymodal').modal('show')
					$('.modal-title').html('Tambah data profil')
					$('.modal-body').html(result)
				}
			})
		}
		function openedit(id) {
			window.open('/m_biodata/edit/' + id, '_self')
		}
		function delete_(id) {
			var conf = window.confirm("Yakin Mau Menghapus Data Ini?");
			if (conf) {
				window.open('/m_biodata/delete/' + id, '_self')
			}
		}
	</script>

</div>

</html>