.mycombo {
  padding: 5px;
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 3px;
}

.mycek {
  margin-right: 10px;
}

/* CSS Login */
body {
  background: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

/* Stop CSS Login */

/* CSS Slide Bar */
.mycombo{
    padding: 5px;
    border: 1px solid #755252;
    background-color: #e76f6f;
}


.mycek{
    margin-right: 10px;
}

.hovrow:hover {
	background-color: lightblue;
}

.hovrow {
	padding: 20px;
	border: 1px solid #E0E0E0;
}

.mytable {
	margin: 10px;
	width: 95%;
}

.menu {
	padding: 20px;
}

/* Stop CSS Slide Bar */