<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
	<h1> Profile Page </h1>

	<p style="float:right;">
		<button class="btn btn-success" onclick="openform()">+ Tambah Data</button>
	</p>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Alamat</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${pdata}">
				<td th:text="${item.Id}"></td>
				<td th:text="${item.Nama}"></td>
				<td th:text="${item.Alamat}"></td>
				<td>
					<button class="btn btn-warning" th:value="${item.Id}" onclick="openedit(this.value)">Edit</button>
					<button class="btn btn-danger" th:value="${item.Id}" onclick="delete_(this.value)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<script>
		function openform() {
			window.open('/profile/form', '_self')
		}
		function openedit(id) {
			window.open('/profile/edit/' + id, '_self')
		}
		function delete_(id) {
			var conf = window.confirm("Yakin Mau Menghapus Data Ini?");
			if (conf) {
				window.open('/profile/delete/' + id, '_self')
			}
		}
	</script>

</div>

</html>