<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
	<h1> Vehicle Page </h1>

	<p style="float:right;">
		<button class="btn btn-success" onclick="openform()">+ Tambah Data</button>
	</p>

	<!-- Start Tabel -->
	<div>
		<table class="table" id="tablevehicle">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nama</th>
					<th>Model</th>
					<th>CC</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${vdata}">
					<td th:text="${item.Id}"></td>
					<td th:text="${item.Name}"></td>
					<td th:text="${item.Model}"></td>
					<td th:text="${item.Cc}"></td>
					<td>
						<button class="btn btn-warning" th:value="${item.Id}"
							onclick="openedit(this.value)">Edit</button>
						<button class="btn btn-danger" th:value="${item.Id}"
							onclick="delete_(this.value)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<script>
				$(document).ready(function () {
					$('#tablevehicle').DataTable();
				});
			function openform() {
				$.ajax({
					url: '/vehicle/form',
					type: 'get',
					contentType: 'html',
					success: function (result) {
						console.log(result)
						$('#mymodal').modal('show')
						$('.modal-title').html('Tambah Data Profil')
						$('.modal-body').html(result)
					}
				})
			}
			function openedit(id) {
				window.open('/vehicle/edit/' + id, '_self')
			}
			function delete_(id) {
				var conf = window.confirm("Yakin Mau Menghapus Data Ini?");
				if (conf) {
					window.open('/vehicle/delete/' + id, '_self')
				}
			}
		</script>
	</div>
</div>
</html>