<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
	<h1> Home Page </h1>
	<p>user: <span th:text="${sessemail}"></span></p>
</div>

</html>